.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.main__card__des {

    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.modal__close {
    cursor: pointer;
    background-color: red;
    color: white;
    font-weight: 500;
    border: none;
    width: 32px;
    height: 28px;
    display: block;
    margin-left: auto;
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input,
    textarea {
        @include admin_form_input;

        &:focus {
            outline: none;
            border-bottom: 2px solid $focused_input;
        }
    }
}

.modal__block {
    border-radius: 8px 0 12px 12px;
    width: 600px;
    background-color: $white;
}

.modal__content {
    padding: 40px;
}

.modal__content {
    button {
        margin-top: 30px;
    }
}

@media screen and (max-width: 700px) {
    .modal__block {
        width: 450px;
    }

    .modal__content {
        padding: 35px;
    }

    .modal__form {
        gap: 6px;
    }
}

@media screen and (max-width: 500px) {
    .modal__block {
        width: 350px;
    }
}

@media screen and (max-width:400px) {
    .modal__block {
        width: 320px;
    }

    .modal__content {
        padding: 20px;
    }
}